*.iml
.gitignore.swp
build/
.gradle/
.idea/
local.properties
app/build/
app/libs/
app/*.iml
app/src/androidTest/
app/src/test/
app/src/main/java/edu/fjnu/cse/simpleadaptertest/MainActivity.java
app/src/main/java/edu/fjnu/cse/alterdialog/MainActivity.java
app/src/main/java/edu/fjnu/cse/menutest/MainActivity.java
/local.properties
/.idea/libraries
/captures
.externalNativeBuild
